@import url('https://fonts.googleapis.com/css?family=Bungee|Pathway+Gothic+One');

* {
  box-sizing: border-box;
}
body {
  background-color: #040001;
  color: #FFFFFF;
}

header {
  margin: 20px 0;
}
header h1 {
  font-size: 4em;
  letter-spacing: .1em;
  font-family: 'Bungee', cursive;
  text-align: center;
}

section {
/*   width: 300px; */
}
section h2 {
  font-size: 1.7em;
  font-family: 'Bungee', cursive;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #FFFFFF;
}

img {
  width: 700px;
  margin-left: -100px;
}

.container {
  padding: 50px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.content {
  display: flex;
  overflow: hidden;
}

.ratings {
  margin: 4px 0 0 8px;
}
.ratings ul {
  display: flex;
}
.ratings ul li {
  border: none;
}
.ratings i {
  font-size: .5em;
  padding: 0 2px;
}

.main {
  margin-top: 30px;
  display: flex;
}
.main article {
  width: 320px;
  padding-right: 30px;
}

.features p, .review p {
  line-height: 1.5em;
}

.preview {
  padding: 20px 0;
}
.preview li {
  margin-bottom: 20px;
}
.preview h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  float: left;
  margin-right: 10px;
}
.preview h4 {
  text-transform: uppercase;
  margin: 2px 0 5px 0;
}

.onscreen {
  padding: 20px 0;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}
.onscreen h4 {
  margin-right: 10px;
}
.onscreen li {
  margin-bottom: 10px;
  display: flex;
}
.onscreen li ul li {
  margin-bottom: 0;
  padding-bottom: 5px;
}


.side article {
  width: 320px;
  padding-right: 30px;
}

.features {
  padding: 20px 0;
}
.features li {
  margin-bottom: 20px;
}
.features h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  float: left;
  margin-right: 10px;
}
.features h4 {
  text-transform: uppercase;
  margin: 2px 0 5px 0;
}

.review {
  padding: 20px 0;
}
.review li {
  margin-bottom: 20px;
}
.review h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  float: left;
  margin-right: 10px;
}
.review h4 {
  text-transform: uppercase;
  margin: 2px 0 5px 0;
}

.red {
  color: #FF3200;
}
.yellow {
  color: #FFC700;
}
.blue {
  color: #0185B5;
}